<!DOCTYPE html>
<html>
    <head class="header">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Adfero Interview Test - Map Edition{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/adferotestmap/css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header class="header">
                <img src="{{ asset('bundles/adferotestmap/images/bg-logo.jpg') }}" />
                <h1>Skills Test: Map Edition</h1>
            </header>
            {% block body %}{% endblock %}
            <footer class="footer">
                <p>Developed by Jon-Claude</p>
            </footer>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js "></script>
            <script type="text/javascript" src="{{ asset('bundles/adferotestmap/js/adferotest.js') }}"></script>
        {% endblock %}
    </body>
</html>